    <footer id="footer" class="section-footer">
      <div class="footer-content"><img src="/images/circles-logo-web.svg" loading="lazy" width="66" height="66" alt="" class="circles-logo">
        <div class="footer-title-container">
          <div class="footer-title">FUTO Circles</div>
          <div class="tooter-subtitle">The secure social app for families and friends</div>
        </div>
      </div>
      <div class="footer-links">
        <div class="footer-links-block">
          <div class="footer-links-title">Social</div>
          <div class="footer-link">#circles:matrix.org</div>
        </div>
        <div class="footer-links-block">
          <div class="footer-links-title">Contact</div>
          <div class="footer-link">
            <a href="/contact" class="link-footer">Contact Us</a>
          </div>
          <div class="footer-link">
            <a href="mailto:circles@futo.org?subject=support" class="link-footer">circles@futo.org</a>
          </div>
          <div class="footer-link">
            <a href="http://jobs@futo.org" target="_blank" class="link-footer">jobs@futo.org</a>
          </div>
        </div>
        <div class="footer-links-block">
          <div class="footer-links-title">Download</div>
          <div class="footer-link">
            <a href="https://gitlab.futo.org/circles" target="_blank" class="link-footer">Gitlab</a>
          </div>
          <div class="footer-link">
            <a href="https://apps.apple.com/us/app/futo-circles/id6451446720" target="_blank" class="link-footer">App Store</a>
          </div>
          <div class="footer-link">
            <a href="https://play.google.com/store/apps/details?id=org.futo.circles&amp;pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank" class="link-footer">Google Play</a>
          </div>
          <div class="footer-link">
            <a href="https://f-droid.org/en/packages/org.futo.circles/" target="_blank" class="link-footer">F-Droid</a>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="text-18">Copyright © FUTO Holdings Inc 2022-2024</div>
        <div class="frame-34175">
          <div class="footer-link">
            <a href="/privacy/" target="_blank" class="link-footer">Privacy Policy</a>
          </div>
          <div class="footer-link">
            <a href="/terms/" target="_blank" class="link-footer">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
