    <footer id="footer" class="section-footer">
      <div class="footer-content"><img src="/images/circles-logo-web.svg" loading="lazy" width="66" height="66" alt="" class="circles-logo">
        <div class="footer-title-container">
          <div class="footer-title">Circles</div>
          <div class="tooter-subtitle">The secure social app for families and friends</div>
        </div>
      </div>
      <div class="footer-links">
        <div class="footer-links-block">
          <div class="footer-links-title">Social</div>
          <div class="footer-link">#circles:matrix.org</div>
        </div>
        <div class="footer-links-block">
          <div class="footer-links-title">Download</div>
          <div class="footer-link">
            <a href="https://github.com/circles-project" target="_blank" class="link-footer">Github</a>
          </div>
          <div class="footer-link">
            <a href="https://apps.apple.com/us/app/futo-circles/id6451446720" target="_blank" class="link-footer">App Store</a>
          </div>
          <div class="footer-link">
            <a href="https://play.google.com/store/apps/details?id=org.futo.circles&amp;pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank" class="link-footer">Google Play</a>
          </div>
          <div class="footer-link">
            <a href="https://f-droid.org/en/packages/org.futo.circles/" target="_blank" class="link-footer">F-Droid</a>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="text-18">Copyright © The Circles Project 2024</div>
      </div>
    </footer>
